.sidebar {
  > .nav-item {
    font-size: larger;
    .nav-active {
      text-decoration: underline;
    }
  }
  .sub-menu {
    padding-left: 10px;
    > .nav-item {
      font-size: medium;
      .nav-active {
        font-weight: bold;
      }
    }
  }
}
.nav-item a {
  color: black;
}