@import "../node_modules/patternfly/dist/css/patternfly.css";
@import "../node_modules/patternfly/dist/css/patternfly-additions.css";
@import "../node_modules/patternfly-react/dist/css/patternfly-react.css";
@import '../node_modules/@patternfly/patternfly-next/src/patternfly/patternfly.scss';
// @import '../node_modules/@patternfly/react-lerna-root/packages/react-core/dist/styles/base.css';