.navbar-dark .navbar-nav .nav-link.nav-active {
  color: rgba(255, 255, 255, 0.75);
}
.toggle-container {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.search-icon {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}